<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Coronavirus last update</title>
    </head>
    <body>
        <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v7.0"></script>
        <div id="blog-container">
        <div id="header-blog">
            <nav id="nav-container">
                <ul id="main-nav">
                    <li class="main-nav-items"><a href="#">Home</a></li>
                    <li class="main-nav-items"><a href="#">My blog</a></li>
                    <li class="main-nav-items"><a href="#">Contact me</a></li>
                </ul>
                </nav>
                <div id="main-title">
                <h1 id="site-title">Coronavirus last update</h1>
                </div>
        <div id="author-info">
            <div id="author-image-area">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg" id="author-image" />
            </div>
            <div id="author-name">
                <p><strong>Andrea Palladio</strong><br>
                <b>Profession:</b> Architect<br>
                <b>School:</b> Palladianesimo<br>
                <b>Bio:</b> My best works of art are the Olympic theatre and the Bassano bridge. But now I want to write about Coronavirus.
                </p>
            </div>
        </div>
    </div>
        <div id="content-container">
            <div class="content-blog-par" id="content-container-1">
                <p id="backlink-container"><a href="file:///C:/Users/Andrea/Desktop/Udacity-Frontend%20development%20course/index.html" id="backlink-header">Back to homepage</a>
                </p>
            <p><strong>My days at home working in a Coronavirus day:</strong><br>
               I look forward to May, 4th, day of a coveted return to a better life. I aim to see my parents, my brother and sister, my friends.
               But it seems not finished it.</p>
                <p class="barred-text"><b>CORONAVIRUS NUMBERS:</b><br> 320.000 CONTAGIONS</p>
            </div>
            
                <div id="main-image-container">
                    <fig>
            <img src="https://www.nps.gov/dena/learn/nature/images/crane-bird-header-1000x250.jpg" id="main-blog-image" />
            <figcaption>Birds are often the cause of viruses</figcaption>            
        </fig>
                </div>
            <div class="content-blog-par" id="content-container-2">
                
                <strong>Second part of my Coronavirus experience:</strong><br>
                Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. <br>
                Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.
                <br><br>È sopravvissuto non solo a più di cinque secoli, ma anche al passaggio alla videoimpaginazione, pervenendoci sostanzialmente inalterato. Fu reso popolare, negli anni ’60, con la diffusione dei fogli di caratteri trasferibili “Letraset”, che contenevano passaggi del Lorem Ipsum, e più recentemente da software di impaginazione come Aldus PageMaker, che includeva versioni del Lorem Ipsum.
            </div>
            <div id="social-icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
        </div>
        <div id="footer-c">
            <p id="copyright">Copyright 2020</p>
        </div>
    </div>
    </body>
    </html>